$primary-color: #3498db;

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    background-color: #F5F7FA;
    border: 2px solid #F5F7FA;
    border-radius: 8px;
    color: #0b1f33;
    font-size: 16px;
    outline: none;
    
    &:focus {
        border: 2px solid #99B1E6;
    }
}